/* RESPONSIVE BREAKPOINTS */
@media only screen and (max-width: 767px) {
  #logo {
    height: 25px;
  }
  .navbar {
    width: 100vw;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    background: transparent;
    margin: 3vh 0 .5vh 0;
  }
  .navbar-light .navbar-nav .nav-link {
    display: none;
  }
  .navbar-light .navbar-nav .nav-link svg {
    font-size: 2rem;
  }
  #nav-elipsis-toggle {
    display: block;
  }
  #dropdown-basic {
    width: 100%;
    height: 3rem;
  }
  #dropdown-basic img {
    height: 3rem;
    width: 3rem;
  }
  #dropdown-basic p {
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .basic-nav-dropdown .dropdown-menu {
    width: 100vw;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main {
    display: flex;
    flex-direction: column;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(1),
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(2),
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(3),
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(4) {
    width: 100%;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col div {
    justify-content: flex-start;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col div div {
    margin: 0 2rem 0 0;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower h6 {
    margin-bottom: .5rem;
  }
  .landing-page {
    width: 100vw;
    margin-top: 1vh;
  }
  .promo-container {
    margin-bottom: 30px;
  }
  #search-bar {
    width: 100vw;
  }
  #search-bar button svg {
    font-size: 1.5rem;
  }
  .trending {
    display: flex;
    flex-direction: column;
  }
  .trending .trending-header {
    width: 98vw;
  }
  .trending .trending-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .trending .trending-title svg {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .trending .search-term-heading {
    margin-left: .5rem;
  }
  .trending .trending-link svg {
    margin-right: .5rem;
  }
  .trending .grid-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .trending .grid-container div {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .trending .grid-container div img {
    width: 100%;
    border-radius: .20rem;
  }
  .load-more-container button {
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.3rem;
    margin: 3vh 0 8vh 0;
    opacity: 0.9;
  }
  footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: .7rem;
    bottom: .5rem;
  }
  footer a {
    color: #a6a6a6;
    margin-right: 10px;
    border-radius: 5px;
    background: #212121;
    padding: 6px;
  }
  footer a:hover {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #logo {
    height: 25px;
  }
  .navbar {
    width: 100%;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    background: transparent;
    margin: 3vh 0 .5vh 0;
  }
  .navbar-light .navbar-nav .nav-link {
    display: none;
  }
  .navbar-light .navbar-nav .nav-link svg {
    font-size: 2rem;
  }
  #nav-elipsis-toggle {
    display: block;
  }
  #dropdown-basic {
    width: 100%;
    height: 3rem;
  }
  #dropdown-basic img {
    height: 3rem;
    width: 3rem;
  }
  #dropdown-basic p {
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .basic-nav-dropdown .dropdown-menu {
    width: 100vw;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main {
    display: flex;
    flex-direction: column;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(1),
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(2),
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(3),
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(4) {
    width: 100%;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col {
    padding-right: 2rem;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col div {
    justify-content: flex-start;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col div div {
    margin: 0 2rem 0 0;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower h6 {
    margin-bottom: .5rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto !important;
    padding: 10px;
    width: 100%;
  }
  .grid-container div {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .grid-container div img {
    width: 100%;
    border-radius: .20rem;
  }
  .load-more-container button {
    padding: .8rem 1.8rem .8rem 1.8rem;
    font-size: 1.8rem;
    opacity: 0.9;
  }
  footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: .7rem;
    bottom: .5rem;
  }
  footer a {
    font-size: 1.5rem;
    padding: 10px;
  }
  footer a:hover {
    color: white;
    text-decoration: none;
  }
  footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: .7rem;
    bottom: .5rem;
  }
  footer a {
    font-size: 1.5rem;
    padding: 10px;
  }
  footer a:hover {
    color: white;
    text-decoration: none;
  }
}
/*# sourceMappingURL=mediaqueries.css.map */