@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700&family=Raleway:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#root {
  @include flex-col;
  @include bg;
  align-items: center;
}

body {
  @include bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
  @include global-font-color;
}

a {
  @include global-link-color;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    @include global-link-color;
    text-decoration: none;
  }
}

button {
  @include global-link-color;
  border: none;
}

input:focus,
input:active {
  outline: none;
}

// NAV

#logo {
  height: 35px;
  padding-left: 1rem;
}

.navbar {
  width: 80vw;
}

.navbar-nav {
  @include flex-row;
  background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
}

.basic-navbar-nav {
  width: 100%;
}

.navbar-light .navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-right: 1rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-light .navbar-nav .nav-link {
  @include flex-center;
  color: inherit;
  border-right: 4px solid rgb(18, 18, 18);
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  &::after {
    content: none;
  }

  &:nth-of-type(6) {
    border-right: none;
  }

  svg {
    font-size: 1rem;
  }
}


.navbar-light .navbar-nav .nav-link::before {
  @include bg;
  content: "";
  position: absolute;
  opacity: 1;
  inset: 0px -1px 4px;
  z-index: -1;
  transition: opacity 0.35s ease 0s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  opacity: 0.1;
}


.basic-nav-dropdown .dropdown-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  background: linear-gradient(135deg, rgb(230, 70, 182) 0%, rgb(153, 51, 255) 100%) !important;
  padding: 1rem 0 0 0;
  border-radius: 0;
  border: none;
  @include transition-ease;

  .elipsis-container {
    @include flex-col;
    width: 100%;
    height: 100%;

    .elipsis-main {
      @include flex-row;
      width: 100%;
      height: 100%;
      padding: 0 2rem 0 2rem;

      .elipsis-col:nth-of-type(1) {
        width: 35%;
      }

      .elipsis-col:nth-of-type(2) {
        width: 17.5%;
      }

      .elipsis-col:nth-of-type(3) {
        width: 17.5%;
      }

      .elipsis-col:nth-of-type(4) {
        width: 30%
      }

      .elipsis-col {
        @include flex-col;
        height: 100%;
        padding-right: 2rem;

        h2 {
          padding: 1rem 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          margin-bottom: 1rem;
          width: 100%;
        }

        div {
          @include flex-row;
          justify-content: space-evenly;

          div {
            @include flex-col;
            margin: 0 1rem 0 1rem;
          }
        }
      }
    }

    .elipsis-lower {
      @include flex-row;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 1rem 0;
      margin-top: 1rem;

      h6 {
        border-right: 1px solid rgb(255, 255, 255);
        padding-right: 2rem;
        font-weight: 700;
      }

      a {
        font-size: .9rem;
        font-weight: 300;
      }
    }
  }
}

.creator-container {
  @include flex-row;
  @include bg;
}

.nav-link-creator {
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  border: 0;
  padding: 0 1rem 0 1rem;

  &::before {
    background: transparent !important;
  }
}

.basic-nav-dropdown {
  width: 20px;
}

#dropdown-basic {
  @include flex-row;
  align-items: center;
  padding: 0 1rem 0 0;
  border: none;
  border-radius: 0;
  background: rgb(62, 62, 62);
  height: 100%;

  &:focus,
  &:active {
    box-shadow: none;
  }

  img {
    height: 38px;
  }

  p {
    padding: 0 2rem 0 2rem;
  }
}


#nav-dropdown-user {
  background: rgb(62, 62, 62);
  width: 100%;
  border-radius: 0;
  padding: 0;
  text-align: center;

  a {
    border-bottom: 1px solid rgb(122, 122, 122);
    padding: .5rem 0 .5rem 0;

    &:hover {
      background: rgb(112, 112, 112);
    }
  }

}

// END NAV

// LANDING PAGE

main {
  width: 80vw;
  margin-top: 1vh;
}

.promo-container {
  width: 100%;
  margin-bottom: 40px;

  #promo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#search-bar {
  @include flex-row;
  width: 80vw;
  height: 50px;
  margin-bottom: 10px;

  #search-input {
    padding-left: 1rem;
    width: 100%;
    border-radius: 0;
    border: none;

    &::placeholder {
      color: grey;
    }
  }

  button {
    @include flex-center;
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    width: 50px;
    height: 50px;

    svg {
      color: rgb(255, 255, 255);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.trending {
  @include flex-col;

  .trending-header {
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .trending-title {
    @include flex-row;
    align-items: center;

    svg {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .search-term-heading {
    font-weight: 700;

    span {
      color: rgb(166, 166, 166);
      font-size: .8rem;
    }
  }

  .trending-link {
    @include flex-col;
    justify-content: flex-end;

    svg {
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }

  // GRID 

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    width: 100%;

    div {
      @include flex-col;
      justify-content: center;

      img {
        width: 100%;
        border-radius: .20rem;
        height: min-content;
      }
    }

  }

  // END GRID 

}

.load-more-container {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  z-index: 999;

  button {
    @include transition-ease;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 5vh 0 10vh 0;
    background: #7067ff;
    opacity: 0.8;
    animation: pulse 2s linear infinite;

    &:hover {
      opacity: 1;
    }
  }

  p {
    text-align: center;
    font-weight: 300;
  }
}

// END LANDING PAGE

// FOOTER / PRIVACY / TERMS

footer {
  @include flex-row;
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  a {
    margin-right: 10px;
    border-radius: 5px;
    background: rgb(33, 33, 33);
    padding: 6px;

  }
}

// LOADER

.loader-container {
  @include flex-center;
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  p {
    font-size: 5rem;
  }
}

.custom-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
    animation: wave 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
}


@keyframes wave {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

// END LOADER