@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700&family=Raleway:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 18, 18);
}

body {
  background-color: rgb(18, 18, 18);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(243, 243, 243);
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: rgb(235, 235, 235);
    text-decoration: none;
  }
}

button {
  border: none;
}

input:focus,
input:active {
  outline: none;
}

// NAV

#logo {
  height: 35px;
  padding-left: 1rem;
}

.navbar {
  width: 80vw;
}

.navbar-nav {
  display: flex;
  background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
}

.basic-navbar-nav {
  color: white;
  width: 100%;
}

.navbar-light .navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-right: 1rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-light .navbar-nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255) !important;
  border-right: 4px solid rgb(18, 18, 18);
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  &::after {
    content: none;
  }

  &:nth-of-type(6) {
    border-right: none;
  }

  svg {
    font-size: 1rem;
  }
}


.navbar-light .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  background-color: rgb(18, 18, 18);
  opacity: 1;
  inset: 0px -1px 4px;
  z-index: -1;
  transition: opacity 0.35s ease 0s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  opacity: 0.1;
}


.basic-nav-dropdown .dropdown-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  background: linear-gradient(135deg, rgb(230, 70, 182) 0%, rgb(153, 51, 255) 100%) !important;
  padding: 1rem 0 0 0;
  border-radius: 0;
  border: none;

  .elipsis-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .elipsis-main {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 0 2rem 0 2rem;

      .elipsis-col:nth-of-type(1) {
        width: 35%;
      }

      .elipsis-col:nth-of-type(2) {
        width: 17.5%;
      }

      .elipsis-col:nth-of-type(3) {
        width: 17.5%;
      }

      .elipsis-col:nth-of-type(4) {
        width: 30%
      }

      .elipsis-col {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-right: 2rem;

        h2 {
          padding: 1rem 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          margin-bottom: 1rem;
          width: 100%;
        }

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          div {
            display: flex;
            flex-direction: column;
            margin: 0 1rem 0 1rem;
          }
        }
      }
    }

    .elipsis-lower {
      display: flex;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 1rem 0;
      margin-top: 1rem;

      h6 {
        border-right: 1px solid rgb(255, 255, 255);
        padding-right: 2rem;
        font-weight: 700;
      }

      a {
        font-size: .9rem;
        font-weight: 300;
      }
    }
  }
}

.creator-container {
  display: flex;
  background-color: rgb(18, 18, 18);
}

#nav-link-creator {
  color: white;
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  border: 0;
  padding: 0 1rem 0 1rem;

  &::before {
    background: transparent !important;
  }
}

.basic-nav-dropdown {
  width: 20px;
}

#dropdown-basic {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0;
  border: none;
  border-radius: 0;
  background: rgb(62, 62, 62);
  height: 100%;

  &:focus,
  &:active {
    box-shadow: none;
  }


  img {
    height: 38px;
  }

  p {
    padding: 0 2rem 0 2rem;
  }
}


#nav-dropdown-user {
  background: rgb(62, 62, 62);
  width: 100%;
  border-radius: 0;
  padding: 0;
  text-align: center;

  a {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(122, 122, 122);
    padding: .5rem 0 .5rem 0;

    &:hover {
      background: rgb(112, 112, 112);
    }
  }

}

// END NAV

// LANDING PAGE

.landing-page {
  width: 80vw;
  margin-top: 1vh;
}

.promo-container {
  width: 100%;
  margin-bottom: 40px;

  #promo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#search-bar {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 50px;
  margin-bottom: 10px;

  #search-input {
    padding-left: 1rem;
    width: 100%;

    &::placeholder {
      color: grey;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    width: 50px;
    height: 50px;

    svg {
      color: rgb(255, 255, 255);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.trending {
  display: flex;
  flex-direction: column;

  .trending-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .trending-title {
    display: flex;
    align-items: center;
    flex-direction: row;

    svg {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .search-term-heading {
    font-weight: 700;

    span {
      color: rgb(166, 166, 166);
      font-size: .8rem;
    }
  }

  .trending-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    svg {
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }

  // GRID 

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    width: 100%;

    div {
      text-align: center;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        border-radius: .20rem;
      }
    }
  }

  // END GRID 

}

.load-more-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    color: rgb(255, 255, 255);
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 5vh 0 10vh 0;
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(153, 51, 255) 31%, rgb(230, 70, 182) 52%, rgb(255, 249, 170) 77%, rgb(0, 255, 153), rgb(0, 204, 255)) 0% 50% / 200% 50%;
    animation: pulse 2s linear infinite;
    opacity: 0.8;
    transition: .5s ease;

    &:hover {
      opacity: 1;
    }
  }

  p {
    text-align: center;
    font-weight: 300;
  }
}

// END LANDING PAGE

// FOOTER / PRIVACY / TERMS

footer {
  display: flex;
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  a {
    color: rgb(166, 166, 166);
    margin-right: 10px;
    border-radius: 5px;
    background: rgb(33, 33, 33);
    padding: 6px;

    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
}

// LOADER

.loader-container {
  display: flex;
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 999;

  p {
    font-size: 5rem;
  }
}

.custom-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
    animation: wave 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
}


@keyframes wave {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

// END LOADER

/* RESPONSIVE BREAKPOINTS */


@media only screen and (max-width: 767px) {


  .landing-page {
    width: 100vw;
    margin-top: 1vh;
  }

  // NAV

  #logo {
    height: 25px;
  }

  .navbar {
    width: 100vw;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    background: transparent;
    margin: 3vh 0 .5vh 0;
  }

  .navbar-light .navbar-nav .nav-link {
    display: none;

    svg {
      font-size: 2rem;
    }
  }

  #nav-elipsis-toggle {
    display: block;
  }

  #dropdown-basic {
    width: 100%;
    height: 3rem;

    img {
      height: 3rem;
      width: 3rem;
    }

    p {
      font-size: 1.5rem;
      padding: 0 2rem 0 2rem;
      width: 100%;
    }
  }

  .basic-nav-dropdown .dropdown-menu {
    position: absolute;
    left: 0;
    width: 100vw;
    background: linear-gradient(135deg, rgb(230, 70, 182) 0%, rgb(153, 51, 255) 100%) !important;
    padding: 1rem 0 0 0;
    border-radius: 0;
    border: none;

    .elipsis-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .elipsis-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 2rem 0 2rem;

        .elipsis-col:nth-of-type(1) {
          width: 100%
        }

        .elipsis-col:nth-of-type(2) {
          width: 100%
        }

        .elipsis-col:nth-of-type(3) {
          width: 100%
        }

        .elipsis-col:nth-of-type(4) {
          width: 100%
        }

        .elipsis-col {
          padding-right: 2rem;

          div {
            justify-content: flex-start;

            div {
              margin: 0 2rem 0 0;
            }
          }
        }
      }

      .elipsis-lower {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1rem 0;
        margin-top: 1rem;

        h6 {
          margin-bottom: .5rem;
        }

        a {
          font-size: .9rem;
          font-weight: 300;
        }
      }
    }
  }


  // END NAV

  // LANDING PAGE

  .promo-container {
    margin-bottom: 30px;
  }

  #search-bar {
    width: 100vw;

    button {

      svg {
        font-size: 1.5rem;
      }
    }
  }

  .trending {
    display: flex;
    flex-direction: column;

    .trending-header {
      width: 98vw;
    }

    .trending-title {
      display: flex;
      align-items: center;
      flex-direction: row;

      svg {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .search-term-heading {
      margin-left: .5rem;
    }

    .trending-link {
      svg {
        margin-right: .5rem;
      }
    }

    // GRID 

    .grid-container {
      grid-template-columns: 1fr;
      width: 100%;

      div {
        text-align: center;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          border-radius: .20rem;
        }
      }
    }

    // END GRID 

  }

  // END LANDING PAGE

  // CUSTOM LOAD MORE BUTTON

  .load-more-container {

    button {
      padding: .5rem 1rem .5rem 1rem;
      font-size: 1.3rem;
      margin: 3vh 0 8vh 0;
      opacity: 0.9;
    }
  }

  // END CUSTOM LOAD MORE BUTTON

  // FOOTER / PROVACY / TERMS

  footer {
    display: flex;
    position: fixed;
    right: .7rem;
    bottom: .5rem;

    a {
      color: rgb(166, 166, 166);
      margin-right: 10px;
      border-radius: 5px;
      background: rgb(33, 33, 33);
      padding: 6px;

      &:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
      }
    }
  }

  // END FOOTER / PROVACY / TERMS
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {

  // NAV

  #logo {
    height: 25px;
  }

  .navbar {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    background: transparent;
    margin: 3vh 0 .5vh 0;
  }

  .navbar-light .navbar-nav .nav-link {
    display: none;

    svg {
      font-size: 2rem;
    }
  }

  #nav-elipsis-toggle {
    display: block;
  }

  #dropdown-basic {
    width: 100%;
    height: 3rem;

    img {
      height: 3rem;
      width: 3rem;
    }

    p {
      font-size: 1.5rem;
      padding: 0 2rem 0 2rem;
      width: 100%;
    }
  }

  .basic-nav-dropdown .dropdown-menu {
    position: absolute;
    left: 0;
    width: 100vw;
    background: linear-gradient(135deg, rgb(230, 70, 182) 0%, rgb(153, 51, 255) 100%) !important;
    padding: 1rem 0 0 0;
    border-radius: 0;
    border: none;

    .elipsis-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .elipsis-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 2rem 0 2rem;

        .elipsis-col:nth-of-type(1) {
          width: 100%
        }

        .elipsis-col:nth-of-type(2) {
          width: 100%
        }

        .elipsis-col:nth-of-type(3) {
          width: 100%
        }

        .elipsis-col:nth-of-type(4) {
          width: 100%
        }

        .elipsis-col {
          padding-right: 2rem;

          div {
            justify-content: flex-start;

            div {
              margin: 0 2rem 0 0;
            }
          }
        }
      }

      .elipsis-lower {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1rem 0;
        margin-top: 1rem;

        h6 {
          margin-bottom: .5rem;
        }

        a {
          font-size: .9rem;
          font-weight: 300;
        }
      }
    }
  }

  // END NAV

  .grid-container {
    display: grid;
    grid-template-columns: auto auto !important;
    padding: 10px;
    width: 100%;

    div {
      text-align: center;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        border-radius: .20rem;
      }
    }
  }




}