@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700&family=Raleway:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  align-items: center;
}

body {
  background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

a {
  color: #e2e2e2 !important;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #e2e2e2 !important;
  text-decoration: none;
}

button {
  color: #e2e2e2 !important;
  border: none;
}

input:focus,
input:active {
  outline: none;
}

#logo {
  height: 35px;
  padding-left: 1rem;
}

.navbar {
  width: 80vw;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #00ccff, #9933ff 31%, #e646b6 52%, #fff9aa 77%, #00ff99, #00ccff) 0% 50%/200% 50%;
}

.basic-navbar-nav {
  width: 100%;
}

.navbar-light .navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-right: 1rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-light .navbar-nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-right: 4px solid #121212;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.navbar-light .navbar-nav .nav-link::after {
  content: none;
}

.navbar-light .navbar-nav .nav-link:nth-of-type(6) {
  border-right: none;
}

.navbar-light .navbar-nav .nav-link svg {
  font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link::before {
  background-color: #121212;
  content: "";
  position: absolute;
  opacity: 1;
  inset: 0px -1px 4px;
  z-index: -1;
  transition: opacity 0.35s ease 0s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  opacity: 0.1;
}

.basic-nav-dropdown .dropdown-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  background: linear-gradient(135deg, #e646b6 0%, #9933ff 100%) !important;
  padding: 1rem 0 0 0;
  border-radius: 0;
  border: none;
  transition: .5s ease;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 2rem;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(1) {
  width: 35%;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(2) {
  width: 17.5%;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(3) {
  width: 17.5%;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col:nth-of-type(4) {
  width: 30%;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 2rem;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col h2 {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  width: 100%;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-main .elipsis-col div div {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
  margin-top: 1rem;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower h6 {
  border-right: 1px solid white;
  padding-right: 2rem;
  font-weight: 700;
}

.basic-nav-dropdown .dropdown-menu .elipsis-container .elipsis-lower a {
  font-size: .9rem;
  font-weight: 300;
}

.creator-container {
  display: flex;
  flex-direction: row;
  background-color: #121212;
}

#nav-link-creator {
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  border: 0;
  padding: 0 1rem 0 1rem;
}

#nav-link-creator::before {
  background: transparent !important;
}

.basic-nav-dropdown {
  width: 20px;
}

#dropdown-basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem 0 0;
  border: none;
  border-radius: 0;
  background: #3e3e3e;
  height: 100%;
}

#dropdown-basic:focus, #dropdown-basic:active {
  box-shadow: none;
}

#dropdown-basic img {
  height: 38px;
}

#dropdown-basic p {
  padding: 0 2rem 0 2rem;
}

#nav-dropdown-user {
  background: #3e3e3e;
  width: 100%;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

#nav-dropdown-user a {
  border-bottom: 1px solid #7a7a7a;
  padding: .5rem 0 .5rem 0;
}

#nav-dropdown-user a:hover {
  background: #707070;
}

.landing-page {
  width: 80vw;
  margin-top: 1vh;
}

.promo-container {
  width: 100%;
  margin-bottom: 40px;
}

.promo-container #promo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#search-bar {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 50px;
  margin-bottom: 10px;
}

#search-bar #search-input {
  padding-left: 1rem;
  width: 100%;
  border-radius: 0;
  border: none;
}

#search-bar #search-input::placeholder {
  color: grey;
}

#search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #9933ff 0%, #ff6666 100%);
  width: 50px;
  height: 50px;
}

#search-bar button svg {
  color: white;
  transform: scaleX(-1);
}

.trending {
  display: flex;
  flex-direction: column;
}

.trending .trending-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.trending .trending-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trending .trending-title svg {
  margin-left: 1rem;
  margin-right: 1rem;
}

.trending .search-term-heading {
  font-weight: 700;
}

.trending .search-term-heading span {
  color: #a6a6a6;
  font-size: .8rem;
}

.trending .trending-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trending .trending-link svg {
  margin-left: .25rem;
  margin-right: .25rem;
}

.trending .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  width: 100%;
}

.trending .grid-container div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.trending .grid-container div img {
  width: 100%;
  border-radius: .20rem;
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 999;
}

.load-more-container button {
  transition: .5s ease;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 5vh 0 10vh 0;
  background: linear-gradient(to right, #00ccff, #9933ff 31%, #e646b6 52%, #fff9aa 77%, #00ff99, #00ccff) 0% 50%/200% 50%;
  opacity: 0.8;
  animation: pulse 2s linear infinite;
}

.load-more-container button:hover {
  opacity: 1;
}

.load-more-container p {
  text-align: center;
  font-weight: 300;
}

footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

footer a {
  margin-right: 10px;
  border-radius: 5px;
  background: #212121;
  padding: 6px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.loader-container p {
  font-size: 5rem;
}

.custom-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.custom-loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  animation: wave 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.custom-loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.custom-loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.custom-loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes wave {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
/*# sourceMappingURL=style.css.map */